/signal
/water_package
/.DS_Store
/.idea
/.vscode
/.venv
/empty
/fft
/wavelet_and_fft
/cap_ultrasound_1
/cap_ultrasound_completed
/captured_data
/cd_1
/collections_202504221713
/20250423
/collections_20250422
/20250428
/edge-impulse-raw
/datasets
/edge-impulse-public-raw
/20250422_1